.design-list {
	list-style: none;
}

.design-body {
	margin-top: 15px;
	font-size: 18px;
}

.submit-post-button {
	padding: 7px;
	margin-bottom: 10px;
}

.website-category {
	min-width:0px;
	padding-top: 6px;
	padding-bottom: 6px; 
	width:50%;
}